.cp-title {
    font-weight: bold;
    text-align: start;
    color: #940B92;
}

.cp-underline {
    border: 1px solid #DA0C81;
    width: 50px;
    margin-top: -15px;
}

.cp-subtitle {
    text-align: start;
    font-size: 15px;
    font-weight: bold;
}

.cp-p {
    font-size: 15px;
    text-align: start;
    color: #E95793;
}

.cp-contact-title{
    color: #940B92;
    font-size: large;
    font-weight: bold;
}
.cp-contact-align-hr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cp-contact-underline{
    border: 1px solid #DA0C81;
    width: 80px;
    margin-top: -15px;
}

.cta {
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.contact-img {
    height: auto;
    max-width: 100%;
}

.google-map {
    max-width: 100%;
    border: 0;
}