.bottom-container{
    background-color: #16354E;
    color: #9BB3C7;
    padding: 60PX 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.bottom-li-navigation, .bottom-li-transport{
    list-style-type: none;
    text-align: start;
}
.bottom-foot{
    background-color: #1f425d;
    color: white;
    padding: 30px ;
}

.footer-header{
    color: #fff;
    text-align: start;
}
.footer-p{
    text-align: start;
    padding: 10px 0 10px 0;
}
.footer-p a{
    text-decoration: none;
    color: #9BB3C7;
}
.footer-p a:hover{
    color: #E95793;
    cursor: pointer;
}
.footer-about-p{
    width: 260px;
}